.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
}

.footer-container p {
    font-size: 1.8rem;
}